<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle Game</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="reset.css" />
    <script>
      const noCacheStylesheet = (name) => {
        const linkTag = document.createElement("link");
        linkTag.rel = "stylesheet";
        linkTag.href = `${name}?nocacheid=${Math.floor(Math.random() * 1e10)}`;
        document.head.appendChild(linkTag);
      };
      noCacheStylesheet("style.css");
    </script>
  </head>
  <body>
    <div id="app">
      <div class="word-list" id="word-list">
        <div class="word" v-for="word in attemps">
          <span class="letter-wrapper" v-for="letter in word.letters"
            ><span
              class="letter"
              :class="letter.status === 'RIGHT_POSITION' ? 'right-pos' 
                : letter.status === 'WRONG_POSITION' ? 'wrong-pos' : ''"
              >{{ letter.value }}</span
            ></span
          >
        </div>
        <div class="word" id="input-zone">
          <span class="letter-wrapper" v-for="letter in input.letters">
            <span class="letter" :class="badInput ? 'bad-input' : ''"
              >{{ letter.value }}</span
            >
          </span>
        </div>
      </div>

      <div class="bottom-sheet">
        <div class="keyboard">
          <div class="keyboard-row" v-for="keyboardRow in keyboard">
            <button
              class="btn"
              v-for="keyboardKey in keyboardRow"
              v-on:click="inputLetter(keyboardKey)"
            >
              {{ keyboardKey }}
            </button>
          </div>
        </div>
        <div class="game-controls">
          <button
            class="btn settings-btn"
            title="Settings"
            v-on:click="settingsOpen = true"
          >
            <img src="icons/settings.svg" aria-hidden="true" />
          </button>
          <button
            class="btn submit-btn"
            v-on:click="submitWord()"
            title="Submit"
          >
            <span>Submit</span>
            <img src="icons/check.svg" aria-hidden="true" />
          </button>
          <button
            class="btn delete-btn"
            v-on:click="removeLastLetter()"
            title="Delete"
          >
            <img src="icons/backspace.svg" aria-hidden="true" />
          </button>
        </div>
      </div>

      <div class="settings-overlay" :class="settingsOpen ? 'open' : ''">
        <section class="settings-section">
          <h2>Language</h2>
          <button class="btn">Français</button>
          <button class="btn">English</button>
        </section>
        <section class="settings-section">
          <h2>Keyboard</h2>
          <button class="btn">Azerty</button>
          <button class="btn">Qwerty</button>
        </section>
        <section class="settings-section mt-xl">
          <button class="btn" title="Close" v-on:click="settingsOpen = false">
            <span>Close settings</span>
            <img src="icons/close.svg" aria-hidden="true" />
          </button>
        </section>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
