<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle Game</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="word-list">
        <div class="word" v-for="word in attemps">
          <span
            class="letter"
            :class="
                letter.status === 'RIGHT_POSITION' ? 'right-pos' 
              : letter.status === 'WRONG_POSITION' ? 'wrong-pos'
              : ''
            "
            v-for="letter in word.letters"
            >{{ letter.value }}</span
          >
        </div>
        <div class="word" id="input-zone" :class="inputZoneFocused ? 'focused' : ''">
          <span
            class="letter"
            :class="badInput ? 'bad-input' : ''"
            v-for="letter in input.letters"
          >
            {{ letter.value }}
          </span>
        </div>
      </div>
      
      <input type="text" id="hidden-input" v-model="inputText">
      <div>Input text : {{ inputText }}</div>
      
    </div>
    <script src="script.js"></script>
  </body>
</html>
