/* VARIABLES */

body {
  --bg-color: #0f172a;
  --default-color: #1e293b;
  --success-color: #166534;
  --warning-color: #a16207;
  --danger-color: #7f1d1d;

  --letter-border-width: 5px;
  --letter-font-size: 38px;
  --button-height: 50px;
  --button-font-size: 24px;
}

@media screen and (max-width: 400px) {
  body {
    --letter-border-width: 3px;
    --letter-font-size: 28px;
    --button-height: 45px;
    --button-font-size: 20px;
  }
}

@media screen and (max-width: 300px) {
  body {
    --letter-border-width: 2px;
    --letter-font-size: 22px;
    --button-height: 40px;
    --button-font-size: 16px;
  }
}

/* APP CONTAINER */

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  color: #f8fafc;
  font-family: system-ui, sans-serif;
}

#app {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* WORD LIST */

.word-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  width: 100%;
  overflow-y: auto;
}

.word {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-bottom: 3%;
}

.letter-wrapper {
  width: 15%;
  padding-top: 15%;
  position: relative;
}

.letter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--letter-border-width) solid rgba(255, 255, 255, 0.05);
  font-size: var(--letter-font-size);
  border-radius: 10px;
  background-color: var(--default-color);
  transition: transform 0.1s, background-color 0.3s;
}

.letter.right-pos {
  background-color: var(--success-color);
}

.letter.wrong-pos {
  background-color: var(--warning-color);
}

.letter.bad-input {
  background-color: var(--danger-color);
  transform: scale(1.05);
}

/* BOTTOM SHEET */

.bottom-sheet {
  width: 100%;
  padding-bottom: 20px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1%;
  margin-bottom: 1%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: var(--button-font-size);
  color: white;
  background-color: var(--default-color);
  border-radius: 8px;
  cursor: pointer;
  height: var(--button-height);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color:transparent
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.keyboard .button {
  width: 8.8%;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}

.controls .button {
  padding: 0 calc(var(--button-height) * 0.3);
  letter-spacing: 0.05em;
}

/* SCROLLBARS */
/* https://www.digitalocean.com/community/tutorials/css-scrollbars */

/* Works on Firefox */
* {
  scrollbar-color: var(--default-color) var(--bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--default-color);
  border-radius: 20px;
  border: 2px solid var(--bg-color);
}
