body {
  --bg-color: #0f172a;
  --default-color: #1e293b;
  --success-color: #166534;
  --warning-color: #a16207;
  --danger-color: #7f1d1d;

  --letter-font-size: 38px;
  --button-font-size: 24px;
}

#app {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  color: #f8fafc;
  font-family: system-ui, sans-serif;
}

.word-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  width: 100%;
  overflow-y: auto;
}

.word {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-bottom: 3%;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 255, 255, 0.05);
  width: 13%;
  height: 64px;
  font-size: var(--letter-font-size);
  border-radius: 10px;
  background-color: var(--default-color);
  transition: transform 0.1s, background-color 0.3s;
}

.letter.right-pos {
  background-color: var(--success-color);
}

.letter.wrong-pos {
  background-color: var(--warning-color);
}

.letter.bad-input {
  background-color: var(--danger-color);
  transform: scale(1.05);
}

.keyboard {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1%;
  margin-bottom: 1%;
}

.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-size: var(--button-font-size);
  width: 8.8%;
  height: 50px;
  border-radius: 8px;
  background-color: var(--default-color);
  cursor: pointer;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}

.button {
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-size: var(--button-font-size);
  height: 45px;
  border-radius: 8px;
  background-color: var(--default-color);
  cursor: pointer;
}
