/* VARIABLES */

body {
  --bg-color: #0f172a;
  --default-color: #334155;
  --default-pressed-color: #1e293b;
  --success-color: #4d7c0f;
  --warning-color: #b45309;
  --danger-color: #b91c1c;

  --letter-border-width: 5px;
  --letter-font-size: 38px;
  --btn-size: 50px;
  --btn-font-size: 24px;
  --max-content-width: 500px;
}

@media screen and (max-width: 400px) {
  body {
    --letter-border-width: 3px;
    --letter-font-size: 28px;
    --btn-size: 45px;
    --btn-font-size: 20px;
  }
}

@media screen and (max-width: 300px) {
  body {
    --letter-border-width: 2px;
    --letter-font-size: 22px;
    --btn-size: 40px;
    --btn-font-size: 16px;
  }
}

/* SCROLLBARS */
/* https://www.digitalocean.com/community/tutorials/css-scrollbars */

/* Works on Firefox */
* {
  scrollbar-color: var(--default-color) var(--bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--default-color);
  border-radius: 20px;
  border: 2px solid var(--bg-color);
}

/* APP CONTAINER */

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  color: #f8fafc;
  font-family: system-ui, sans-serif;
}

#app {
  width: 100vw;
  max-width: var(--max-content-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* WORD LIST */

.word-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  width: 100%;
  overflow-y: auto;
}

.word {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-bottom: 3%;
}

.letter-wrapper {
  width: 15%;
  padding-top: 15%;
  position: relative;
}

.letter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--letter-border-width) solid rgba(255, 255, 255, 0.05);
  font-size: var(--letter-font-size);
  border-radius: 10px;
  background-color: var(--default-color);
  transition: transform 0.1s, background-color 0.3s;
}

.letter.right-pos {
  background-color: var(--success-color);
}

.letter.wrong-pos {
  background-color: var(--warning-color);
}

.letter.bad-input {
  background-color: var(--danger-color);
  transform: scale(1.05);
}

/* BOTTOM SHEET */

.bottom-sheet {
  width: 100%;
  padding-bottom: 20px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1%;
  margin-bottom: 1%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--btn-size) * 0.1);
  border: none;
  outline: none;
  font-family: inherit;
  font-size: var(--btn-font-size);
  color: white;
  background-color: var(--default-color);
  border-radius: 8px;
  cursor: pointer;
  height: var(--btn-size);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.btn:active {
  background-color: var(--default-pressed-color);
  transform: translateY(1px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.btn img {
  pointer-events: none;
}

.keyboard .btn {
  width: 8.8%;
}

.game-controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}

.game-controls .btn {
  padding: 0 calc(var(--btn-size) * 0.3);
  min-width: var(--btn-size);
}

/* SETTINGS OVERLAY */

.settings-overlay {
  display: none;
}

.settings-overlay.open {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.settings-content {
  height: 100%;
  width: 100%;
  max-width: var(--max-content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  padding: 20px;
}

.settings-overlay .settings-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings-overlay .btn {
  padding: 0 calc(var(--btn-size) * 0.3);
}

.settings-overlay h2 {
  margin-bottom: 4px;
  text-align: center;
  font-weight: bold;
  font-size: var(--btn-font-size);
}

.radio-btn input {
  display: none;
}

.radio-btn label {
  display: block;
  position: relative;
  font-size: var(--btn-font-size);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid var(--default-color);
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.radio-btn input:checked + label {
  background-color: white;
  color: var(--default-pressed-color);
  border-color: white;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
